[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
.vs/
.idea/
**/Bee/
**/artifacts/
**/DerivedData/
.utmp/
SYNAESTHESIA_BurstDebugInformation_DoNotShip/

# IDE
*.csproj
*.sln

# Android exports/builds
.gradle/
*.apk
*.aab
*.obb

# Captures
[Cc]aptures/
[Rr]ecordings/

# OS junk
.DS_Store
Thumbs.db

# VS Code
.vscode/
*.code-workspace
